<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://github.com/themes/minimal/stylesheets/styles.css">
  </head>
  <body>
    <div class="wrapper">

      <header>
        <h1><a href="/">Nick Dowell</a></h1>

        <h3>Coding</h3>
        <p class="view"><a href="http://careers.stackoverflow.com/nickdowell">Professional Portfolio<small>iOS apps and more</small></a></p>
        <p class="view"><a href="/opensource/">Open Source Projects</a></p>

        <h3>Social</h3>
        <p class="view"><a href="https://github.com/nixxcode" target="tab">Github<small>@nixxcode</small></a></li>
        <p class="view"><a href="https://twitter.com/nixim" target="tab">Twitter<small>@nixim</small></a></li>
        <p class="view"><a href="http://uk.linkedin.com/pub/nick-dowell/3/867/a25/" target="tab">linkedin<small>Hire me</small></a></li>

      </header>

      <section id="main">
        {{ content }}
      </section>

      <footer>
        <p><a href="mailto:nick@nickdowell.com">Email me</a></p>
        <p><small><a href="http://mxguarddog.com/">prevent spam</a></small></p>
      </footer>
    </div>
  </body>
</html>
